# 1. Selecting columns and rows efficiently
## The need for efficient coding I

In [1]:
import time

# Record time before execution
start_time = time.time()

# Excute operation
result = 5 + 2

# Record time after execution
end_time = time.time()
print("Result calculated in {} sec".format(end_time - start_time))

Result calculated in 6.508827209472656e-05 sec

#### List comprehension

In [2]:
list_comp_start = time.time()
result = [i*i for i in range(0,1000000)]
list_comp_end = time.time()
print("Time using the list_comprehension: {} sec".format(list_comp_end - list_comp_start))

Time using the list_comprehension: 0.11697697639465332 sec

#### For loop

In [3]:
for_loop_start = time.time()

result = []
for i in range(0,1000000):
    result.append(i*i)

for_loop_end = time.time()
print("Time using the for loop: {} sec".format(for_loop_end - for_loop_start))

Time using the for loop: 0.2155771255493164 sec

In [4]:
list_comp_time = list_comp_end - list_comp_start
for_loop_time = for_loop_end - for_loop_start
print("Difference in time: {} %".format((for_loop_time - list_comp_time)/list_comp_time*100))

Difference in time: 84.29021863414296 %

> A list comprehension is significant more efficient than a for loop.

In [5]:
def sum_formula(N):
    return N*(N+1)/2

In [6]:
formula_start = time.time()
formula_result = sum_formula(1000000)
formula_end = time.time()

print("Time using the formula: {} sec".format(formula_end - formula_start))

Time using the formula: 6.604194641113281e-05 sec

In [7]:
def sum_brute_force(N):
    res = 0
    for i in range(1,N+1):
        res+=1
    return res

In [8]:
bf_start = time.time()
formula_result = sum_brute_force(1000000)
bf_end = time.time()

print("Time using the formula: {} sec".format(bf_end - bf_start))

Time using the formula: 0.09088325500488281 sec

In [9]:
formula_time = formula_end - formula_start
bf_time = bf_end - bf_start
print("Difference in time: {} %".format((bf_time - formula_time)/formula_time*100))

Difference in time: 137514.440433213 %

### Measuring time I

In [10]:
# Calculate the result of the problem using formula() and print the time required
N = 1000000
fm_start_time = time.time()
first_method = sum_formula(N)
print("Time using formula: {} sec".format(time.time() - fm_start_time))

# Calculate the result of the problem using brute_force() and print the time required
sm_start_time = time.time()
second_method = sum_brute_force(N)
print("Time using the brute force: {} sec".format(time.time() - sm_start_time))

Time using formula: 7.82012939453125e-05 sec
Time using the brute force: 0.09928488731384277 sec

### Measuring time II

In [11]:
words = ['<html>',
 '<head><title>404 Not Found</title></head>',
 '<body>',
 '<center><h1>404 Not Found</h1></center>',
 '<hr><center>nginx</center>',
 '</body>',
 '</html>']

In [12]:
# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = [wrd for wrd in words if wrd.startswith('b')]

# Store and print the difference between the start and the current time
total_time_lc = time.time() - start_time
print('Time using list comprehension: {} sec'.format(total_time_lc))

Time using list comprehension: 0.00015401840209960938 sec

In [13]:
letlist

[]

In [14]:
# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = []
for wrd in words:
    if wrd.startswith('b'):
        letlist.append(wrd)
        
# Print the difference between the start and the current time
total_time_fl = time.time() - start_time
print('Time using for loop: {} sec'.format(total_time_fl))

Time using for loop: 0.00012493133544921875 sec

In [15]:
letlist

[]

## Locate rows: .iloc[] and .loc[]

In [16]:
import pandas as pd
poker = pd.read_csv('poker_hand.csv')
poker.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [17]:
rows = range(0,500)
loc_start = time.time()
poker.loc[rows]
loc_end = time.time()

print("Time using .loc[] : {} sec".format(loc_end - loc_start))

Time using .loc[] : 0.0012378692626953125 sec

In [18]:
rows = range(0,500)
iloc_start = time.time()
poker.iloc[rows]
iloc_end = time.time()

print("Time using .iloc[] : {} sec".format(iloc_end - iloc_start))

Time using .iloc[] : 0.0004296302795410156 sec

In [19]:
loc_time = loc_end - loc_start
iloc_time = iloc_end - iloc_start
print("Difference in time: {} %".format((loc_time - iloc_time)/iloc_time*100))

Difference in time: 188.1243063263041 %

> .iloc[] is much faster

#### Locate targeted rows

In [20]:
iloc_start = time.time()
poker.iloc[:,:3]
iloc_end = time.time()

print("Time using .iloc[] : {} sec".format(iloc_end - iloc_start))

Time using .iloc[] : 0.0002658367156982422 sec

In [21]:
names_start = time.time()
poker[['S1','R1','S2']]
names_end = time.time()
print("Time using selection by name: {} sec".format(names_end - names_start))

Time using selection by name: 0.0019519329071044922 sec

In [22]:
iloc_time = iloc_end - iloc_start
names_time = names_end - names_start
print("Difference in time: {} %".format((names_time - iloc_time)/iloc_time*100))

Difference in time: 634.2600896860986 %

> .loc[] works better for selecting columns.

> .iloc[] works better for selecting specific rows.

### Row selection: loc[] vs iloc[]

In [23]:
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)

# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker.loc[row_nums]
loc_end_time = time.time()

# Print the time it took to select the rows using .loc
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

# Select the rows using .iloc[] and row_nums and record the time before and after
iloc_start_time = time.time()
rows = poker.iloc[row_nums]
iloc_end_time = time.time()

# Print the time it took to select the rows using .iloc
print("Time using .iloc[]: {} sec".format(iloc_end_time - iloc_start_time))

Time using .loc[]: 0.0025169849395751953 sec
Time using .iloc[]: 0.0006580352783203125 sec

> .iloc[] is more efficient

### Column selection: .iloc[] vs by name

In [24]:
# Use .iloc to select the first, fourth, fifth, seventh and eighth column and record the times before and after
iloc_start_time = time.time()
cols = poker.iloc[:,[0,3,4,6,7]]
iloc_end_time = time.time()

# Print the time it took
print("Time using .iloc[] : {} sec".format(iloc_end_time - iloc_start_time))

# Use simple column selection to select the first, fourth, fifth, seventh and eighth column and record the times before and after
names_start_time = time.time()
cols = poker[['S1', 'S2', 'R2', 'R3', 'S4']]
names_end_time = time.time()

# Print the time it took
print("Time using selection by name : {} sec".format(names_end_time - names_start_time))

Time using .iloc[] : 0.0009059906005859375 sec
Time using selection by name : 0.0014030933380126953 sec

> Simple columns selection is more efficient

## Select random rows

#### rows

In [25]:
pd_start_time = time.time()
poker.sample(100, axis=0)
pd_end_time = time.time()
print("Time using sample: {} sec".format(pd_end_time - pd_start_time))

Time using sample: 0.0018699169158935547 sec

In [26]:
import numpy as np
np_start_time = time.time()
poker.iloc[np.random.randint(low=0, high=poker.shape[0], size=100)]
np_end_time = time.time()
print("Time using sample: {} sec".format(np_end_time - np_start_time))

Time using sample: 0.0005071163177490234 sec

In [27]:
pd_time = pd_end_time - pd_start_time
np_time = np_end_time - np_start_time
print("Difference in time: {} %".format((pd_time - np_time)/np_time*100))

Difference in time: 268.7353079454631 %

#### columns

In [28]:
pd_start = time.time()
poker.sample(3, axis=1)
pd_end = time.time()
print("Time using sample: {} sec".format(pd_end - pd_start))

Time using sample: 0.0005090236663818359 sec

In [29]:
N = poker.shape[1]
np_start = time.time()
poker.iloc[:,np.random.randint(low=0, high=N, size=3)]
np_end = time.time()
print("Time using sample: {} sec".format(np_end - np_start))

Time using sample: 0.0010890960693359375 sec

In [30]:
pd_time = pd_end - pd_start
np_time = np_end - np_start
print("Difference in time: {} %".format((np_time - pd_time)/pd_time*100))

Difference in time: 113.95784543325527 %

### Random row selection

In [31]:
# Extract number of rows in dataset
N=poker.shape[0]

# Select and time the selection of the 75% of the dataset's rows
rand_start_time = time.time()
poker.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Time using Numpy: {} sec".format(time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker.sample(int(0.75 * N), axis=0, replace = True)
print("Time using .sample: {} sec".format(time.time() - samp_start_time))

Time using Numpy: 0.004274129867553711 sec
Time using .sample: 0.0017731189727783203 sec

> .sample() is more efficient.
### Random column selection

In [32]:
# Extract number of columns in dataset
D=poker.shape[1]

# Select and time the selection of 4 of the dataset's columns using NumPy
np_start_time = time.time()
poker.iloc[:,np.random.randint(low=0, high=D, size=4)]
print("Time using NymPy's random.randint(): {} sec".format(time.time() - np_start_time))

# Select and time the selection of 4 of the dataset's columns using pandas
pd_start_time = time.time()
poker.sample(4, axis=1)
print("Time using panda's .sample(): {} sec".format(time.time() - pd_start_time))

Time using NymPy's random.randint(): 0.0009701251983642578 sec
Time using panda's .sample(): 0.0005309581756591797 sec

> .sample() is more efficient.

# 2. Replacing values in a DataFrame
## Replace scalar values using .replace()

In [33]:
names = pd.read_csv('Popular_Baby_Names.csv')
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

In [34]:
start_time = time.time()
names['Gender'].loc[names['Gender']=='MALE'] = 'BOY'
print("Replace values using .loc[]: {} sec".format(time.time() - start_time))

Replace values using .loc[]: 0.1655130386352539 sec

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/3261700718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names['Gender'].loc[names['Gender']=='MALE'] = 'BOY'

In [35]:
start_time = time.time()
names['Gender'].replace('MALE', 'BOY')
print("Replace values using .replace(): {} sec".format(time.time() - start_time))

Replace values using .replace(): 0.0009098052978515625 sec

### Replacing scalar values I

In [36]:
poker_hands = poker
poker_hands.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [37]:
# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=True)
# Replace Class 2 to -3
poker_hands['Class'].replace(2, -3, inplace=True)

poker_hands.Class.value_counts()

 0    12493
-2    10599
-3     1206
 3      513
 4       93
 5       54
 6       36
 7        6
 9        5
 8        5
Name: Class, dtype: int64

### Replace scalar values II

In [38]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

Time using .loc[]: 0.012611150741577148 sec

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/2021469118.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'

In [39]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0008881092071533203 sec

> Using .replce() is much efficient.

## Replace values using lists

In [40]:
start_time = time.time()
names['Ethnicity'].loc[(names['Ethnicity']=='WHITE NON HISPANIC') | (names['Ethnicity'] == 'WHITE NON HISP')] = 'WNH'
print("Replace values using .loc[]: {} sec".format(time.time() - start_time))

Replace values using .loc[]: 0.013173103332519531 sec

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/1231385254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names['Ethnicity'].loc[(names['Ethnicity']=='WHITE NON HISPANIC') | (names['Ethnicity'] == 'WHITE NON HISP')] = 'WNH'

In [41]:
start_time = time.time()
names['Ethnicity'].replace(['WHITE NON HISPANIC', 'WHITE NON HISP', 'WNH'], inplace=True)
print("Replace values using .loc[]: {} sec".format(time.time() - start_time))

Replace values using .loc[]: 0.0010061264038085938 sec

### Replace multiple values I

In [42]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') | 
                      (names["Ethnicity"] == 'BLACK NON HISPANIC') | 
                      (names["Ethnicity"] == 'WHITE NON HISP') | 
                      (names["Ethnicity"] == 'WHITE NON HISPANIC')] = 'NON HISPANIC'
end_time = time.time()

print("Time using .loc[]: sec".format(end_time - start_time))

Time using .loc[]: sec

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/269819884.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') |

In [43]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.004023075103759766 sec

### Replace multiple values II

In [44]:
start_time = time.time()

# Replace ethnicities as instructed
names['Ethnicity'].replace(['ASIAN AND PACI','BLACK NON HISP', 'WHITE NON HISP'], ['ASIAN AND PACIFIC ISLANDER','BLACK NON HISPANIC','WHITE NON HISPANIC'], inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.00386810302734375 sec

## Replace values using dictionaries

### Replace single values I

In [45]:
# # Replace Royal flush or Straight flush to Flush
# poker_hands.replace({'Royal flush':'Flush', 'Straight flush':'Flush'}, inplace=True)
# print(poker_hands['Explanation'].head())

In [46]:
# Replace the number rank by a string
names['Rank'].replace({1:'FIRST', 2:'SECOND', 3:'THIRD'}, inplace=True)
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,GIRL,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,FIRST
1,2011,GIRL,ASIAN AND PACIFIC ISLANDER,CHLOE,106,SECOND
2,2011,GIRL,ASIAN AND PACIFIC ISLANDER,EMILY,93,THIRD
3,2011,GIRL,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,GIRL,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

### Replace multiple values

In [47]:
# Replace the rank of the first three ranked names to 'MEDAL'
names.replace({'Rank': {1:'MEDAL', 2:'MEDAL', 3:'MEDAL'}}, inplace=True)

# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names.replace({'Rank': {4:'ALMOST MEDAL', 5:'ALMOST MEDAL'}}, inplace=True)
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,GIRL,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,FIRST
1,2011,GIRL,ASIAN AND PACIFIC ISLANDER,CHLOE,106,SECOND
2,2011,GIRL,ASIAN AND PACIFIC ISLANDER,EMILY,93,THIRD
3,2011,GIRL,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,ALMOST MEDAL
4,2011,GIRL,ASIAN AND PACIFIC ISLANDER,EMMA,75,ALMOST MEDAL

> Replace scalar values using dictionaries is more efficient.

# 3. Efficient iterating
## Looping using the .iterrows() function

## Create a generator for a pandas DataFrame

In [48]:
# Create a generator over the rows
generator = poker_hands.iterrows()

# Access the elements of the 2nd row
first_element = next(generator)
second_element = next(generator)
first_element, second_element

((0,
  S1        1
  R1       10
  S2        1
  R2       11
  S3        1
  R3       13
  S4        1
  R4       12
  S5        1
  R5        1
  Class     9
  Name: 0, dtype: int64),
 (1,
  S1        2
  R1       11
  S2        2
  R2       13
  S3        2
  R3       10
  S4        2
  R4       12
  S5        2
  R5        1
  Class     9
  Name: 1, dtype: int64))

### The iterrows() function for looping

In [49]:
data_generator = poker_hands.iterrows()

for index, values in data_generator:
  	# Check if index is odd
    if index % 2 != 0:
      	# Sum the ranks of all the cards
        hand_sum = sum([values[1], values[3], values[5], values[7], values[9]])

In [50]:
hand_sum

36

## Looping using the .apply() function

In [51]:
data_sqrt = poker.apply(lambda x: np.sqrt(x))
data_sqrt.head()

/opt/miniconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

,S1,R1,S2,R2,S3,R3,S4,R4,S5,R5,Class
0,1.000000,3.162278,1.000000,3.316625,1.000000,3.605551,1.000000,3.464102,1.000000,1.000000,3.0
1,1.414214,3.316625,1.414214,3.605551,1.414214,3.162278,1.414214,3.464102,1.414214,1.000000,3.0
2,1.732051,3.464102,1.732051,3.316625,1.732051,3.605551,1.732051,3.162278,1.732051,1.000000,3.0
3,2.000000,3.162278,2.000000,3.316625,2.000000,1.000000,2.000000,3.605551,2.000000,3.464102,3.0
4,2.000000,1.000000,2.000000,3.605551,2.000000,3.464102,2.000000,3.316625,2.000000,3.162278,3.0

In [52]:
apply_start = time.time()
poker[['R1','R2','R3','R4','R5']].apply(lambda x: sum(x), axis=1)
print("Time using .apply(): {} sec".format(time.time() - apply_start))

Time using .apply(): 0.22815513610839844 sec

In [53]:
loop_start = time.time()
for ind, value in poker.iterrows():
    sum([value[1],value[3],value[5],value[7],value[9]])
print("Time using .iterrows(): {} sec".format(time.time() - loop_start))

Time using .iterrows(): 1.2640118598937988 sec

### .apply() function in every cell

In [54]:
# Define the lambda transformation
get_square = lambda x: x**2

# Apply the transformation
data_sum = poker_hands.apply(get_square)
data_sum.head()

   S1   R1  S2   R2  S3   R3  S4   R4  S5   R5  Class
0   1  100   1  121   1  169   1  144   1    1     81
1   4  121   4  169   4  100   4  144   4    1     81
2   9  144   9  121   9  169   9  100   9    1     81
3  16  100  16  121  16    1  16  169  16  144     81
4  16    1  16  169  16  144  16  121  16  100     81

### .apply() for rows iteration

In [55]:
# Define the lambda transformation
get_variance = lambda x: np.var(x)

# Apply the transformation for every row.
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=1)
data_tr.head()

0    18.64
1    18.64
2    18.64
3    18.64
4    18.64
dtype: float64

In [56]:
get_variance = lambda x: np.var(x)

# Apply the transformation to Modify the script to apply the function on every rank.
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=0)
data_tr.head()

R1    14.060473
R2    14.189523
R3    14.024270
R4    14.040552
R5    13.998851
dtype: float64

## Vectorization over pandas series

In [57]:
start_time = time.time()
poker[['R1','R2','R3','R4','R5']].sum(axis=1) # for every row
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))

Time using pandas vectorization: 0.002288818359375 sec

In [58]:
poker[['R1','R2','R3','R4','R5']].sum(axis=1).head()

0    47
1    47
2    47
3    47
4    47
dtype: int64

> In comparison to previous methods, vectorization performs a lot better. 'Cause fewer operations are required due to optimization in pandas.

### pandas vectorization in action

In [59]:
# Calculate the mean rank in each hand
row_start_time = time.time()
mean_r = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=1)
print("Time using pandas vectorization for rows: {} sec".format(time.time() - row_start_time))
print(mean_r.head())

Time using pandas vectorization for rows: 0.002249002456665039 sec
0    9.4
1    9.4
2    9.4
3    9.4
4    9.4
dtype: float64

In [60]:
# Calculate the mean rank of each of the 5 card in all hands
col_start_time = time.time()
mean_c = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=0)
print("Time using pandas vectorization for columns: {} sec".format(time.time() - col_start_time))
print(mean_c.head())

Time using pandas vectorization for columns: 0.0027179718017578125 sec
R1    6.995242
R2    7.014194
R3    7.014154
R4    6.942463
R5    6.962735
dtype: float64

## Vectorization with NumPy arrays using .values()

In [61]:
start_time = time.time()
poker[['R1','R2','R3','R4','R5']].values.sum(axis=1) # for every row
print("Time using Numpy vectorization: {} sec".format(time.time() - start_time))

Time using Numpy vectorization: 0.002470254898071289 sec

In [62]:
start_time = time.time()
poker[['R1','R2','R3','R4','R5']].sum(axis=1) # for every row
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))

Time using pandas vectorization: 0.005274772644042969 sec

> A little bit of an improvement using Numpy arrays

> Vectorization over NumPy ndarrays can be used to replace vectorization over pandas Series, when operations like indexing or data type are not used.

### Vectorization methods for looping a DataFrame

In [63]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].var(axis=1)
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))
print(poker_var.head())

Time using pandas vectorization: 0.003081083297729492 sec
0    23.3
1    23.3
2    23.3
3    23.3
4    23.3
dtype: float64

In [64]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].values.var(axis=1, ddof=1)
print("Time using NumPy vectorization: {} sec".format(time.time() - start_time))
print(poker_var[0:5])

Time using NumPy vectorization: 0.006050825119018555 sec
[23.3 23.3 23.3 23.3 23.3]

# 4. Data manipulation using .groupby()
## Data transformation using .groupby().transform

In [65]:
restaurant = pd.read_csv('restaurant_data.csv')
restaurant.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [66]:
restaurant_grouped = restaurant.groupby('smoker')
restaurant_grouped.count()

        total_bill  tip  sex  day  time  size
smoker
No             151  151  151  151   151   151
Yes             93   93   93   93    93    93

In [67]:
zscore = lambda x: (x - x.mean()) / x.std()

restaurant_grouped = restaurant.groupby('time')
restaurant_transformed = restaurant_grouped.transform(zscore)
restaurant_transformed.head()

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/1763323561.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  restaurant_transformed = restaurant_grouped.transform(zscore)

   total_bill       tip      size
0   -0.416446 -1.457045 -0.692873
1   -1.143855 -1.004475  0.405737
2    0.023282  0.276645  0.405737
3    0.315339  0.144355 -0.692873
4    0.414880  0.353234  1.504347

### The min-max normalization using .transform()

In [68]:
restaurant_data = pd.read_csv('restaurant_data.csv')

In [69]:
# Define the min-max transformation
min_max_tr = lambda x: (x - x.min()) / (x.max() - x.min())

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)
print(restaurant_min_max_group.head())

   total_bill       tip  size
0    0.291579  0.001111   0.2
1    0.152283  0.073333   0.4
2    0.375786  0.277778   0.4
3    0.431713  0.256667   0.2
4    0.450775  0.290000   0.6

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/2972687277.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)

### Transforming values to probabilities

In [70]:
# Define the exponential transformation
exp_tr = lambda x: np.exp(-x.mean() * x) * x.mean()

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_exp_group = restaurant_grouped['tip'].transform(exp_tr)
print(restaurant_exp_group.head())

0    0.135141
1    0.017986
2    0.000060
3    0.000108
4    0.000042
Name: tip, dtype: float64

### Validation of normalization

In [71]:
poker_grouped = poker.groupby('Class')
zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)
poker_trans.head()

,S1,R1,S2,R2,S3,R3,S4,R4,S5,R5
0,-1.380537,0.270364,-1.380537,-0.730297,-1.380537,0.631224,-1.380537,0.350823,-1.380537,-0.724286
1,-0.613572,0.495666,-0.613572,1.095445,-0.613572,0.039451,-0.613572,0.350823,-0.613572,-0.724286
2,0.153393,0.720969,0.153393,-0.730297,0.153393,0.631224,0.153393,-1.403293,0.153393,-0.724286
3,0.920358,0.270364,0.920358,-0.730297,0.920358,-1.735866,0.920358,1.227881,0.920358,1.267500
4,0.920358,-1.757363,0.920358,1.095445,0.920358,0.433966,0.920358,-0.526235,0.920358,0.905357

In [72]:
zscore = lambda x: (x - x.mean()) / x.std()

# Re-group the grouped object and print each group's means and standard deviation
poker_regrouped = poker_trans.groupby(poker_hands['Class'])

print(np.round(poker_regrouped.mean(), 3))
poker_regrouped.std()

        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
-3    -0.0  0.0  0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0
-2     0.0 -0.0  0.0 -0.0  0.0  0.0  0.0 -0.0 -0.0  0.0
 0    -0.0  0.0 -0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0 -0.0
 3     0.0  0.0  0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0
 4    -0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  0.0
 5    -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0
 6    -0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0 -0.0  0.0
 7     0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0
 8    -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0
 9     0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0  0.0  0.0 -0.0

        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
-3     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
-2     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 0     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 3     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 4     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 5     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 6     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 7     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 8     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 9     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

> lambda x: np.random.randint(0,10) transformation would produce the same results in the whole dataset regardless of groupings. This is when NOT to use .transform()

## Missing value imputation using transform()

In [73]:
restaurant_na = restaurant.copy()

In [74]:
restaurant.dropna(inplace=True)

In [75]:
prior_counta = restaurant.groupby('time')['total_bill'].count()
prior_counta

time
Dinner    176
Lunch      68
Name: total_bill, dtype: int64

In [77]:
missing_counts = restaurant_na.groupby('time')['total_bill'].count()
print(prior_counta - missing_counts)

time
Dinner    0
Lunch     0
Name: total_bill, dtype: int64


### Identifying missing values

In [76]:
# Group both objects according to smoke condition
restaurant_nan_grouped = restaurant.groupby('smoker')

# Store the number of present values
restaurant_nan_nval = restaurant_nan_grouped['tip'].count()

# Print the group-wise missing entries
print(restaurant_nan_grouped['total_bill'].count() - restaurant_nan_nval)

smoker
No     0
Yes    0
dtype: int64

### Missing value imputation

In [78]:
# Define the lambda function
missing_trans = lambda x: x.fillna(x.median())

# Group the data according to time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_impute = restaurant_grouped.transform(missing_trans)
print(restaurant_impute.head())

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_75379/3747900698.py:8: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  restaurant_impute = restaurant_grouped.transform(missing_trans)

## Data filtration using the filter() function

In [80]:
restaurant_grouped = restaurant.groupby('day')
filter_trans = lambda x: x['total_bill'].mean() > 20

restaurant_filtered = restaurant_grouped.filter(filter_trans)
restaurant_filtered.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Data filtration

In [81]:
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Select only the entries that have a mean total_bill greater than $20
total_bill_20 = total_bill_40.groupby('day').filter(lambda x : x['total_bill'].mean() > 20)

# Print days of the week that have a mean total_bill greater than $20
print('Days of the week that have a mean total_bill greater than $20:', total_bill_20.day.unique())

Days of the week that have a mean total_bill greater than $20: ['Sun' 'Sat']